  <div class="row">
    <div class="col-md-4">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Project Name</mat-card-title>
              <mat-card-subtitle>First Card</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
               Add some content here
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" [routerLink]="['/pages','project','detail']">Ok</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-4">
      <div class="card bg-light mb-3">
          <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Project Details</mat-card-title>
                <mat-card-subtitle>Second Card</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                 Add some content here
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="primary" [routerLink]="['/pages','project','detailTable']">Project</button>
              </mat-card-actions>
            </mat-card>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-light mb-3">
          <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>On Boarding</mat-card-title>
                <mat-card-subtitle>3rd Card</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                 Add some content here
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="primary" [routerLink]="['/pages','project','onboarding']">On boarding</button>
              </mat-card-actions>
            </mat-card>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>In Progress</mat-card-title>
              <mat-card-subtitle>4th Card</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
               Add some content here
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button> 4th card</button>
            </mat-card-actions>
          </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>In Progress</mat-card-title>
              <mat-card-subtitle>5th Card</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
               Add some content here
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>5th card</button>
            </mat-card-actions>
          </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>In Progress</mat-card-title>
              <mat-card-subtitle>6th Card</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
               Add some content here
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>6th card</button>
            </mat-card-actions>
          </mat-card>
    </div>
  </div>

