<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <button style="padding: 10px; margin:10px" (click)="redirectToUserHome()" type="button" class="btn btn-block btn-primary btn-lg">User
        Home</button><br />
      <div class="w-100"></div>
      <button style="padding: 10px; margin:10px" type="button" class="btn btn-primary btn-block btn-lg">Admin
        Home</button>
    </div>
    <div class="col-sm-4 h-100 d-inline-block" >
      <div class="card bg-light mb-3" style="height: 500px;">
        <div class="card-header">
          <button type="button" class="btn btn-success btn-block btn-lg">DOES</button>
        </div>
        <div class="card-body" style="margin-bottom:40px;">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <ol style="margin-left: 30px;">
            <li>
              Keep RSA token safe
            </li>
            <li>Follow the process</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-light mb-3" style="height: 500px;">
        <div class="card-header">
          <button type="button" class="btn btn-success btn-block btn-lg">DON'T</button>
        </div>
        <div class="card-body" style="margin-bottom:40px;">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <ol style="margin-left: 30px;">
            <li>
              Share password
            </li>
            <li>Share RSA token</li>
          </ol>
        </div>
      </div>

    </div>
  </div>
</div>